.bordercart {
    border: 2px solid black;
    min-width: 300px;
}


ul {
    list-style: none;
  }

.bordercartitem {
    border: 1px solid black;
    width: 95%;
}

.cartpname {
    margin: 5px;
}
.cartbutton {
    margin: 5px;
}