
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Right column */
.column.right {
    width: 35%;
}

/* Left column */
.column.left {
    width: 65%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.left, column.right {
        width: 100%;
    }
}