<h1>Product list</h1>
<!--Get all product-->
<ul *ngFor="let product of products, index as i">
    <li class="column">
      <div class="border2">
        <!-- product name-->
      <div class="padding1">{{product.name}}</div>
      <!--Image of product-->
      <img class="padding1" src="{{product.image}}">
      <!--Display Currency in AUD-->
      <div class="padding1">{{product.price | currency:"AUD" }}</div>
      <!--button to add product in cart-->
      <button id="{{product.id}}" class="padding1" (click)="sendtocart(i)">Add to cart</button>
      </div>
    </li>
  </ul>

